@media (max-width: 1235px) {
  .content-inner {
    margin: 0 auto 100px;
    justify-content: space-around; } }
@media (max-width: 774px) {
  .subscribe .subscribe-inner .input-group {
    justify-content: space-around; }
    .subscribe .subscribe-inner .input-group input.form-control.subsc-input {
      margin-bottom: 15px; } }
@media (max-width: 767px) {
  .footer .container .navbar-nav.social {
    justify-content: center; } }
@media (max-width: 991px) {
  .nav-logo {
    display: none; }

  .intro-inner {
    display: none; }

  .filters .checkbox-block .row .input-group {
    justify-content: center; }

  .filters .sort-by {
    justify-content: center; } }
